/* Reset margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.merch-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* Keyframes for pulse animation with a more noticeable effect */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.4); /* Increased scale for a stronger pulse */
    opacity: 0.5; /* Reduced opacity to make it more noticeable */
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Updated button style with faster pulse animation */
.button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
  animation: pulse 1s infinite ease-in-out; /* Faster animation */
  transition: transform 0.2s;
}

.button:hover {
  transform: scale(1.1);
}
.menu-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
}

.menu-icon .bar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

/* Overlay Menu */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
  z-index: 9999;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-content a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: lobster;
}

.overlay-content a:hover {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: white;
  cursor: pointer;
}

@media (max-width: 600px) {
  .title {
      font-size: 3rem;
  }

  .links li {
      font-size: 1rem;
  }

  .overlay-content a {
      font-size: 24px;
  }

  .closebtn {
      font-size: 40px;
  }
}